# Import Libraries and Files

In [1]:
import pandas as pd

# Loading and Combining all Data Parts

In [2]:
# read first file and only keep desired columns
df2 = pd.read_csv("data_part_1.csv")
df2 = df2[["INCIDENT_DATETIME", "ZIPCODE", "BOROUGH"]]
df2 = df2[df2["BOROUGH"].str.contains("MANHATTAN")]

In [3]:
# create list of all other files
part_files = ["data_part_2.csv",
            "data_part_3.csv", 
            "data_part_4.csv", 
            "data_part_5.csv",
            "data_part_6.csv",
            "data_part_7.csv",
            "data_part_8.csv",
            "data_part_9.csv",
            "data_part_10.csv"]

In [4]:
# import all other files and stick them together
for filename in part_files:
    df_part = pd.read_csv(filename)
    df_part = df_part[["INCIDENT_DATETIME", "ZIPCODE", "BOROUGH"]]
    df_part = df_part[df_part["BOROUGH"].str.contains("MANHATTAN")]
    df2 = pd.concat([df2, df_part])
    print("added", filename)

/var/folders/n2/v_12tfqd6tg02y2ztvhw3wwc0000gn/T/ipykernel_35521/673464733.py:3: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  df_part = pd.read_csv(filename)

added data_part_2.csv
added data_part_3.csv
added data_part_4.csv
added data_part_5.csv

/var/folders/n2/v_12tfqd6tg02y2ztvhw3wwc0000gn/T/ipykernel_35521/673464733.py:3: DtypeWarning: Columns (7,11,17,27,28,29,30) have mixed types. Specify dtype option on import or set low_memory=False.
  df_part = pd.read_csv(filename)

added data_part_6.csv

/var/folders/n2/v_12tfqd6tg02y2ztvhw3wwc0000gn/T/ipykernel_35521/673464733.py:3: DtypeWarning: Columns (7,11,17,27,28,29,30) have mixed types. Specify dtype option on import or set low_memory=False.
  df_part = pd.read_csv(filename)

added data_part_7.csv
added data_part_8.csv
added data_part_9.csv
added data_part_10.csv

# Selecting Desired Time Frame

In [5]:
# select the desired time frame in years
# remove the column BOROUGH because it is only MANHATTAN
df = df2[df2.INCIDENT_DATETIME.str.contains("2015|2016|2017|2018")]
df = df[["INCIDENT_DATETIME", "ZIPCODE"]]

# Handling NaN and Wrong Values & Formatting

In [6]:
# check how many NA there are in ZIPCODE or INCIDENT_DATETIME
print(df.ZIPCODE.isna().value_counts())
print(df.INCIDENT_DATETIME.isna().value_counts())

False    1463373
True       27131
Name: ZIPCODE, dtype: int64
False    1490504
Name: INCIDENT_DATETIME, dtype: int64

In [7]:
# remove all indicents with NA zipcodes
df = df.dropna()

In [8]:
# check unique zipcodes
df.ZIPCODE.unique()

array(['10002', '10016', '10024', '10014', 10034.0, 10001.0, 10016.0,
       10035.0, 10036.0, 10029.0, 10028.0, 10002.0, 10024.0, 10030.0,
       10027.0, 10038.0, 10021.0, 10031.0, 10003.0, 10025.0, 10019.0,
       10017.0, 10023.0, 10032.0, 10014.0, 10013.0, 10012.0, 10040.0,
       10022.0, 10009.0, 10011.0, 10018.0, 10007.0, 10005.0, 10010.0,
       10033.0, 10065.0, 10128.0, 10004.0, 10069.0, 10026.0, 10075.0,
       10039.0, 10037.0, 10044.0, 10020.0, 10006.0, 10280.0, 10112.0,
       10111.0, 10282.0, 10153.0, 10162.0, 10107.0, 10281.0, 10000.0,
       10103.0, 10119.0, 10041.0, 10129.0, 10154.0, 10123.0, 10302.0,
       10463.0, 10048.0, 10301.0, 83.0, 11215.0, 10452.0, 10122.0,
       10169.0, 10168.0, 10121.0, 10165.0, 10152.0, 10110.0, 10118.0,
       10278.0, 10172.0, 10106.0, 10105.0, 10271.0, 10055.0, 10173.0,
       10167.0, 10158.0, 10171.0, 10155.0, 10170.0, 10178.0, 10176.0,
       10179.0, 10174.0, 10120.0, 10151.0, 10279.0, 10462.0, 11693.0,
       11229.0, 10115.0, 10177.0, 10454.0, 10175.0, 10045.0, 11201.0,
       12345.0, 11101.0], dtype=object)

In [9]:
# change INCIDENT_DATETIME to datetime format
df.INCIDENT_DATETIME = pd.to_datetime(df.INCIDENT_DATETIME)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1463373 entries, 375005 to 966961
Data columns (total 2 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   INCIDENT_DATETIME  1463373 non-null  datetime64[ns]
 1   ZIPCODE            1463373 non-null  object
dtypes: datetime64[ns](1), object(1)
memory usage: 33.5+ MB

In [11]:
# arrange by incident datetime
df.sort_values(by="INCIDENT_DATETIME", inplace=True)
df = df.reset_index(drop=True)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1463373 entries, 0 to 1463372
Data columns (total 2 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   INCIDENT_DATETIME  1463373 non-null  datetime64[ns]
 1   ZIPCODE            1463373 non-null  object
dtypes: datetime64[ns](1), object(1)
memory usage: 22.3+ MB

In [13]:
df.head()

    INCIDENT_DATETIME  ZIPCODE
0 2015-01-01 00:00:44  10001.0
1 2015-01-01 00:02:03  10034.0
2 2015-01-01 00:06:44  10016.0
3 2015-01-01 00:06:58  10035.0
4 2015-01-01 00:07:36  10036.0

In [14]:
# show unique zip codes
df.ZIPCODE.unique()

array([10001.0, 10034.0, 10016.0, 10035.0, 10036.0, 10029.0, 10028.0,
       10002.0, 10024.0, 10030.0, 10027.0, 10038.0, 10021.0, 10031.0,
       10003.0, 10025.0, 10019.0, 10017.0, 10023.0, 10032.0, 10014.0,
       10013.0, 10012.0, 10040.0, 10022.0, 10009.0, 10011.0, 10018.0,
       10007.0, 10005.0, 10010.0, 10033.0, 10065.0, 10128.0, 10004.0,
       10069.0, 10026.0, 10075.0, 10039.0, 10037.0, 10044.0, 10020.0,
       10006.0, 10280.0, 10112.0, 10111.0, 10282.0, 10153.0, 10162.0,
       10107.0, 10281.0, 10000.0, 10103.0, 10119.0, 10041.0, 10129.0,
       10154.0, 10123.0, 10302.0, 10463.0, 10048.0, 10301.0, 83.0,
       11215.0, 10452.0, 10122.0, 10168.0, 10121.0, 10165.0, 10152.0,
       10110.0, 10118.0, 10278.0, 10172.0, 10169.0, 10106.0, 10105.0,
       10271.0, 10158.0, 10055.0, 10173.0, 10167.0, 10171.0, 10155.0,
       10170.0, 10178.0, 10176.0, 10179.0, 10174.0, 10120.0, 10151.0,
       10279.0, 10462.0, 11693.0, 11229.0, 10115.0, 10177.0, '10002',
       '10016', '10024', '10014', 10454.0, 10175.0, 10045.0, 11201.0,
       12345.0, 11101.0], dtype=object)

In [15]:
# reformat zip codes to integer
df.ZIPCODE = df.ZIPCODE.astype("int32")

In [16]:
# check unique zip codes again
df.ZIPCODE.unique()

array([10001, 10034, 10016, 10035, 10036, 10029, 10028, 10002, 10024,
       10030, 10027, 10038, 10021, 10031, 10003, 10025, 10019, 10017,
       10023, 10032, 10014, 10013, 10012, 10040, 10022, 10009, 10011,
       10018, 10007, 10005, 10010, 10033, 10065, 10128, 10004, 10069,
       10026, 10075, 10039, 10037, 10044, 10020, 10006, 10280, 10112,
       10111, 10282, 10153, 10162, 10107, 10281, 10000, 10103, 10119,
       10041, 10129, 10154, 10123, 10302, 10463, 10048, 10301,    83,
       11215, 10452, 10122, 10168, 10121, 10165, 10152, 10110, 10118,
       10278, 10172, 10169, 10106, 10105, 10271, 10158, 10055, 10173,
       10167, 10171, 10155, 10170, 10178, 10176, 10179, 10174, 10120,
       10151, 10279, 10462, 11693, 11229, 10115, 10177, 10454, 10175,
       10045, 11201, 12345, 11101], dtype=int32)

In [17]:
# remove zipcode "83", seems wrong
# remove zipcode "10000", doesn't exist
# remove zipcode above "10300", isn't MANHATTAN
df = df[df.ZIPCODE != 83]
df = df[df.ZIPCODE != 10000]
df = df[df.ZIPCODE < 10300]

# Zip Code Mapping for Buildings with Individual Zip Codes

In [18]:
# ZIPCODE mapping
ZIP_real = [10041, 10045, 10048, 10055, 10069, 10103, 10104, 10105, 10106, 10107, 10110, 10111, 10112, 10115, 10118, 10119, 10120, 10121, 10122, 10123, 10129, 10151, 10152, 10153, 10154, 10155, 10158, 10162, 10165, 10166, 10167, 10168, 10169, 10170, 10171, 10172, 10173, 10174, 10175, 10176, 10177, 10178, 10179, 10271, 10278, 10279, 10281, 10282]
ZIP_mapped = [10004, 10038, 10007, 10025, 10023, 10019, 10019, 10019, 10019, 10019, 10036, 10020, 10020, 10027, 10016, 10001, 10001, 10025, 10025, 10001, 10036, 10022, 10022, 10022, 10022, 10022, 10016, 10075, 10017, 10025, 10017, 10017, 10017, 10017, 10017, 10017, 10017, 10017, 10025, 10025, 10017, 10025, 10017, 10005, 10007, 10007, 10006, 10007]
ZIP_unique = ["55 Water St.", "Wall Street", "World Trade Center", "Park Avenue Plaza, 55 E 52nd St", "Riverside Park South", "666 Fifth Ave", "1290 Avenue of the Americas", "Alliance Bernstein Building, 1345 Avenue of the Americas", "888 Seventh Ave.", "Fisk Building, 250 W 57th St", "500 Fifth Ave", "45 Rockefeller Center", "30 Rockefeller Center", "The Interchurch Center, 475 Riverside Dr", "Empire State Building, 350 Fifth Ave", "1 Penn Plaza", "Kratter Building, 112 W 34th St", "2 Penn Plaza", "Pennsylvania Building, 225 W 34th St", "Nelson Tower, 450 Fashion Ave", "10129", "Squibb Building, 745 Fifth Ave", "Seagram Building, 375 Park Ave", "General Motors Building, 767 Fifth Ave", "345 Park Ave", "9Architects & Designers Building, 64 Third Ave", "Unysys Building, 605 Third Ave", "The Pavilion, 500 E 77th St", "One Grand Central Place, 60 E 42nd St", "Metlife Building, 200 Park Ave", "245 Park Ave", "Chanin Building, 122 E 42nd St", "Helmsley Building, 230 Park Ave", "Graybar Building, 420 Lexington Ave", "westvaco Building, 299 Park Ave", "277 Park Ave", "Canadian Pacific Building, 340 Madison Ave", "Chrysler Building, 405 Lexington Ave", "Lefcourt-National Building, 521 Fifth Ave", "Fred F. French Building, 551 Fifth Ave", "Postum Building, 250 Park Ave", "101 Park Ave", "383 Madison Ave", "Equitable Life Building, 120 Broadway", "Jacob K. Javits Federal Building, 26 Federal Plaza", "Woolworth Building, 233 Broadway", "Battery Park", "Battery Park"]

# https://convene.com/catalyst/office/buildings-new-york-city-own-zip-code/
# https://www.amny.com/news/nyc-zip-codes-1-28558957/
# https://www.unitedstateszipcodes.org/

zip_map = dict(zip(ZIP_real, ZIP_mapped))

In [19]:
# print DF of all unique zipcodes with mapped area
pd.DataFrame(list(zip(ZIP_real, ZIP_mapped, ZIP_unique)))

        0      1                                                  2
0   10041  10004                                       55 Water St.
1   10045  10038                                        Wall Street
2   10048  10007                                 World Trade Center
3   10055  10025                    Park Avenue Plaza, 55 E 52nd St
4   10069  10023                               Riverside Park South
5   10103  10019                                      666 Fifth Ave
6   10104  10019                        1290 Avenue of the Americas
7   10105  10019  Alliance Bernstein Building, 1345 Avenue of th...
8   10106  10019                                   888 Seventh Ave.
9   10107  10019                       Fisk Building, 250 W 57th St
10  10110  10036                                      500 Fifth Ave
11  10111  10020                              45 Rockefeller Center
12  10112  10020                              30 Rockefeller Center
13  10115  10027           The Interchurch Center, 475 Riverside Dr
14  10118  10016               Empire State Building, 350 Fifth Ave
15  10119  10001                                       1 Penn Plaza
16  10120  10001                    Kratter Building, 112 W 34th St
17  10121  10025                                       2 Penn Plaza
18  10122  10025               Pennsylvania Building, 225 W 34th St
19  10123  10001                      Nelson Tower, 450 Fashion Ave
20  10129  10036                                              10129
21  10151  10022                     Squibb Building, 745 Fifth Ave
22  10152  10022                     Seagram Building, 375 Park Ave
23  10153  10022             General Motors Building, 767 Fifth Ave
24  10154  10022                                       345 Park Ave
25  10155  10022     9Architects & Designers Building, 64 Third Ave
26  10158  10016                     Unysys Building, 605 Third Ave
27  10162  10075                        The Pavilion, 500 E 77th St
28  10165  10017              One Grand Central Place, 60 E 42nd St
29  10166  10025                     Metlife Building, 200 Park Ave
30  10167  10017                                       245 Park Ave
31  10168  10017                     Chanin Building, 122 E 42nd St
32  10169  10017                    Helmsley Building, 230 Park Ave
33  10170  10017                Graybar Building, 420 Lexington Ave
34  10171  10017                    westvaco Building, 299 Park Ave
35  10172  10017                                       277 Park Ave
36  10173  10017         Canadian Pacific Building, 340 Madison Ave
37  10174  10017               Chrysler Building, 405 Lexington Ave
38  10175  10025          Lefcourt-National Building, 521 Fifth Ave
39  10176  10025             Fred F. French Building, 551 Fifth Ave
40  10177  10017                      Postum Building, 250 Park Ave
41  10178  10025                                       101 Park Ave
42  10179  10017                                    383 Madison Ave
43  10271  10005              Equitable Life Building, 120 Broadway
44  10278  10007  Jacob K. Javits Federal Building, 26 Federal P...
45  10279  10007                   Woolworth Building, 233 Broadway
46  10281  10006                                       Battery Park
47  10282  10007                                       Battery Park

In [20]:
# replace each of the unique skyscraper zip-codes with their local area zip code
df.ZIPCODE = df.ZIPCODE.map(zip_map).fillna(df['ZIPCODE'])
df.ZIPCODE = df.ZIPCODE.astype("int32")

In [21]:
df.ZIPCODE.unique()

array([10001, 10034, 10016, 10035, 10036, 10029, 10028, 10002, 10024,
       10030, 10027, 10038, 10021, 10031, 10003, 10025, 10019, 10017,
       10023, 10032, 10014, 10013, 10012, 10040, 10022, 10009, 10011,
       10018, 10007, 10005, 10010, 10033, 10065, 10128, 10004, 10026,
       10075, 10039, 10037, 10044, 10020, 10006, 10280], dtype=int32)

# Combining Zip Codes to Neighborhoods

In [22]:
# load list to map zipcodes to neighborhood and only keep those in MANHATTAN
# source: https://github.com/erikgregorywebb/nyc-housing
neighborhoods = pd.read_csv("nyc-zip-codes.csv")
neighborhoods = neighborhoods[neighborhoods.Borough == "Manhattan"]
neighborhoods = neighborhoods.drop(columns="Borough")

In [23]:
neighborhoods.head()

      Neighborhood  ZipCode
62  Central Harlem    10026
63  Central Harlem    10027
64  Central Harlem    10030
65  Central Harlem    10037
66  Central Harlem    10039

In [24]:
# create dictionar for neighborhoods
dict_ne = dict(zip(neighborhoods.ZipCode, neighborhoods.Neighborhood))
print(dict_ne)

{10026: 'Central Harlem', 10027: 'Central Harlem', 10030: 'Central Harlem', 10037: 'Central Harlem', 10039: 'Central Harlem', 10001: 'Chelsea and Clinton', 10011: 'Chelsea and Clinton', 10018: 'Chelsea and Clinton', 10019: 'Chelsea and Clinton', 10020: 'Chelsea and Clinton', 10036: 'Chelsea and Clinton', 10029: 'East Harlem', 10035: 'East Harlem', 10010: 'Gramercy Park and Murray Hill', 10016: 'Gramercy Park and Murray Hill', 10017: 'Gramercy Park and Murray Hill', 10022: 'Gramercy Park and Murray Hill', 10012: 'Greenwich Village and Soho', 10013: 'Greenwich Village and Soho', 10014: 'Greenwich Village and Soho', 10004: 'Lower Manhattan', 10005: 'Lower Manhattan', 10006: 'Lower Manhattan', 10007: 'Lower Manhattan', 10038: 'Lower Manhattan', 10280: 'Lower Manhattan', 10002: 'Lower East Side', 10003: 'Lower East Side', 10009: 'Lower East Side', 10021: 'Upper East Side', 10028: 'Upper East Side', 10044: 'Upper East Side', 10065: 'Upper East Side', 10075: 'Upper East Side', 10128: 'Upper East Side', 10023: 'Upper West Side', 10024: 'Upper West Side', 10025: 'Upper West Side', 10031: 'Inwood and Washington Heights', 10032: 'Inwood and Washington Heights', 10033: 'Inwood and Washington Heights', 10034: 'Inwood and Washington Heights', 10040: 'Inwood and Washington Heights'}

In [103]:
# create new column with neighborhood
df["NEIGHBORHOOD"] = df.ZIPCODE.map(dict_ne)
df.head()

    INCIDENT_DATETIME  ZIPCODE                   NEIGHBORHOOD
0 2015-01-01 00:00:44    10001            Chelsea and Clinton
1 2015-01-01 00:02:03    10034  Inwood and Washington Heights
2 2015-01-01 00:06:44    10016  Gramercy Park and Murray Hill
3 2015-01-01 00:06:58    10035                    East Harlem
4 2015-01-01 00:07:36    10036            Chelsea and Clinton

In [104]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1462654 entries, 0 to 1463372
Data columns (total 3 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   INCIDENT_DATETIME  1462654 non-null  datetime64[ns]
 1   ZIPCODE            1462654 non-null  int32
 2   NEIGHBORHOOD       1462654 non-null  object
dtypes: datetime64[ns](1), int32(1), object(1)
memory usage: 39.1+ MB

In [105]:
# FORMATTING
df.INCIDENT_DATETIME = pd.to_datetime(df.INCIDENT_DATETIME)
df.ZIPCODE = df.ZIPCODE.astype("category")
df.NEIGHBORHOOD = df.NEIGHBORHOOD.astype("category")

In [106]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1462654 entries, 0 to 1463372
Data columns (total 3 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   INCIDENT_DATETIME  1462654 non-null  datetime64[ns]
 1   ZIPCODE            1462654 non-null  category
 2   NEIGHBORHOOD       1462654 non-null  category
dtypes: category(2), datetime64[ns](1)
memory usage: 25.1 MB

# Exporting Dataframe

In [108]:
# export prepared dataframe
df.to_csv("data_part_clean4.csv")